:root {
    --text: #090b0c;
    --background: #fcfdfd;
    --primary: #a1e5ff;
    --secondary: #d3dbde;
    --accent: #637a83;
    font-family: 'Fira Sans', sans-serif;
}

body {
    background-color: #fafafa;
    color: var(--text);
}

hr {
    color: var(--secondary);
}

label {
    font-style: italic;
}

input {
    width: 100%;
    display: inline-block;
    padding: 12px 20px;
    font-family: var(--secondary);
}

input[type=submit] {
    background-color: var(--accent);
    border: none;
    border-radius: 10px;
}

input[type=submit]:hover {
    background-color: var(--primary);
    cursor: pointer;
}

.main-container {
    height: 100%;
    margin-top: 10%;
    padding: 0px 0px;
}


.form-container {
    background-color: var(--secondary);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
}

h1 {
    text-align: center;
}